@font-face {
     font-family: roboto-regular;
     font-style: normal;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
}
 @font-face {
     font-family: roboto-medium;
     font-style: normal;
     font-display: swap;
     src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
}
 *:not(html):not(a):not(h1):not(h3) {
     display: none;
}
 html, body {
     margin: 0;
     padding: 0;
     font-family: roboto-regular, helvetica;
}
 a {
     text-decoration: none;
     color: #1967D2;
}
 .hero-case, .show-case, .copyright {
     min-width: 320px;
}
 .no-select {
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
 .visuallyhidden {
     position: absolute;
     clip: rect(1px, 1px, 1px, 1px);
     -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
     clip-path: inset(0px 0px 99.9% 99.9%);
     overflow: hidden;
     height: 1px;
     width: 1px;
     padding: 0;
     border: 0;
}
 @media screen and (orientation:landscape) {
     @supports (padding-right: env(safe-area-inset-right)) and (padding-left: env(safe-area-inset-left)) and (-webkit-overflow-scrolling: touch) {
         html body div.show-case {
             padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
        }
         html body div.hero-case {
             padding-left: env(safe-area-inset-left);
        }
    }
}
 @media (max-width: 700px) {
     html div.hero-case {
         margin: 30px 0 20px 0;
         padding-left: 0;
         text-align: center;
    }
     html div.show-case {
         padding: 0 10px;
    }
     html div.show-case section {
         margin: 10px 0;
         padding: 10px;
    }
     html div.title, html div.year {
         font-size: 16px;
    }
     html body div.title {
         width: calc(100% - 60px);
    }
     html div.year {
         width: 60px;
    }
     html div.points div, html div.useage div {
         font-size: 14px;
    }
     html div.useage {
         margin-bottom: 12px;
    }
     html .copyright {
         font-size: 14px;
    }
}
 @media (max-width: 1120px) {
     div.hero-case {
         margin: 40px 0 22px 0;
         padding-left: 33px;
    }
     div.name {
         font-size: 40px;
    }
     div.quote, div.quotee {
         font-size: 15px;
    }
     div.show-case section {
         margin: 20px 0;
         padding: 22px;
    }
     div.title, div.year {
         font-size: 19px;
    }
     div.title {
         width: calc(100% - 75px);
    }
     div.year {
         width: 75px;
    }
     div.useage div, div.points div {
         font-size: 15px;
    }
     div.useage {
         margin-bottom: 22px;
    }
}
 .flexbox-case {
     height: 100vh;
     flex-direction: column;
     display: flex;
}
 .hero-case {
     box-sizing: border-box;
     width: 100vw;
     margin: 100px auto 44px auto;
     flex: 0 0 auto;
     color: #1d1d1f;
     max-width: 970px;
     display: block;
}
 .name {
     margin-bottom: 10px;
     font-family: roboto-medium, roboto-regular, helvetica;
     font-size: 91px;
     display: block;
}
 .quote,.quotee {
     font-size: 34px;
     display: block;
}
 .show-case {
     flex: 1 0 auto;
     max-width: 1120px;
     width: 100vw;
     margin: 0 auto 0 auto;
     padding: 0 20px;
     box-sizing: border-box;
     display: block;
}
 .show-case section:first-child {
     margin-top: 0px;
}
 .show-case section:last-child {
     margin-bottom: 0px;
}
 .show-case section {
     background: #fff;
     margin: 44px 0;
     padding: 30px;
     box-sizing: border-box;
     background: #fff;
     box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
     border-radius: 8px;
     border-bottom: 1px hidden #fff;
     display: block;
}
 .title {
     font-family: roboto-medium, roboto-regular, helvetica;
     width: calc(100% - 90px);
     font-size: 23px;
     float: left;
     font-weight: normal;
     display: block;
}
 .year {
     font-family: roboto-medium, roboto-regular, helvetica;
     text-align: right;
     width: 90px;
     font-size: 23px;
     float: right;
     display: inline-block;
}
 .useage {
     margin: 5px 0 30px 0;
     font-family: roboto-regular, helvetica;
     width: 100%;
     display: block;
}
 .useage div {
     padding: 3px 5px;
     border-radius: 5px;
     background: #f2f2f5;
     font-size: 17px;
     display: inline-block;
}
 .points {
     display: block;
}
 .points div {
     list-style-position: inside;
     list-style-type: disc;
     display: list-item;
}
 .copyright {
     flex: 0 0 auto;
     color: #86868b;
     padding: 35px 0;
     font-family: roboto-medium, roboto-regular, helvetica;
     text-align: center;
     display: block;
}
 